In [4]:
#readcsv
import pandas as pd
df = pd.read_csv('pizza.csv')

In [6]:
#explore data
df.head()       # first five rows
df.tail()       # last five rows
df.sample(5)    # random sample of rows
df.shape        # number of rows/columns in a tuple
df.describe()   # calculates measures of central tendency
df.info()       # memory footprint and datatypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
name                5 non-null object
pizza_style         5 non-null object
number_of_slices    5 non-null int64
flavored_crust      5 non-null object
dtypes: int64(1), object(3)
memory usage: 240.0+ bytes

In [7]:
#add new column
df['new_column'] = "new column value"

In [13]:
#select a specific cell value
df.iloc[2,1]

'chicago'

In [14]:
#conditional logics
df[df['pizza_style']=="new_york"]

   name pizza_style  number_of_slices flavored_crust        new_column
0  Will    new_york                 5            yes  new column value
1  Lane    new_york                 4             no  new column value

In [16]:
#sorting dataframe by certain value
df.sort_values('number_of_slices', axis=0, ascending=True)

      name pizza_style  number_of_slices flavored_crust        new_column
4    Ethan     chicago                 3            yes  new column value
1     Lane    new_york                 4             no  new column value
2     Dave     chicago                 4             no  new column value
0     Will    new_york                 5            yes  new column value
3  Shannon     chicago                 6             no  new column value

In [17]:
#Apply function to every row in column
def calculate_taxes(number_of_slices):
    taxes =  number_of_slices* 0.1
    return taxes
df['taxes'] = df.number_of_slices.apply(calculate_taxes)